<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit User</title>
</head>
<body>

<h1>Edit an existing user</h1>
<div class="form-container">
  <%# <%= form_with scope: :user, url: users_path do |form| %>
  <%= form_with model: @user do |form| %>
    <% if @user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.label :username, "Username:" %>
    <%= form.text_field :username, placeholder: "John Doe" %><br><br>
    <%= form.label :email, "E-mail:" %>
    <%= form.email_field :email, value: "example@email.com" %><br><br>
    <%= form.label :password, "Password:" %>
    <%= form.password_field :password %><br><br>
    <%= form.submit "Create" %>
  <% end %>


</body>
</html>